/test/nbproject/private/
/test/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/Kademy_One4All/build/
/Kademy_OneForAll/nbproject/private/
/Kademy_One4Alla/build/
/Kademy_One4Alla/nbproject/private/
/Kademy_One4Allaa/build/
/Kademy_One4Allaa/nbproject/private/
/Kademy_OneForAll/build/